.sider
    .inner-menu
        ul
            li
                a(href=`/${prefixAdmin}/dashboard`) Tổng quan
            li
                a(href=`/${prefixAdmin}/topic`) Quản lý chủ đề
            li
                a(href=`/${prefixAdmin}/song`) Quản lý bài hát
            li
                a(href=`/${prefixAdmin}/singer`) Quản lý ca sĩ
            li
                a(href=`/${prefixAdmin}/roles/permissions`) Phân quyền
            li
                a(href=`/${prefixAdmin}/accounts`) Tài khoản admin
            li
                a(href=`/${prefixAdmin}/users`) Tài khoản user
            li
                a(href=`/${prefixAdmin}/settings/general`) Cài đặt chung