extends ../../layout/default.pug

block main

    form(
        action=`/${prefixAdmin}/album/edit/${album.id}?_method=PATCH`
        method="POST"
        enctype="multipart/form-data"
    )
        div(class="form-group")
            label(for="name") Tiêu đề
            input(
                type="text"
                class="form-control"
                id="name"
                name="name"
                required
                value=album.name
            )
        div(
            class="form-group"
            upload-image
        )
            label(for="imgs") Ảnh
            input(
                type="file"
                class="form-control-file"
                id="imgs"
                name="imgs"
                accept="image/*"
                multiple
                upload-image-input
            )
            img(
                src=album.imgs[0]
                class="image-preview"
                upload-image-preview
            )
        div(class="form-group")
            label(for="information") Mô tả
            textarea(
                type="text"
                class="form-control"
                id="information"
                name="information"
                rows="5"
                textarea-mce
            ) #{album.information}
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusActive"
                name="status"
                value="active"
                checked=(album.status == 'active' ? true : false)
            )
            label(for="statusActive" class="form-check-label") Hoạt động
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusInActive"
                name="status"
                value="inactive"
                checked=(album.status == 'inactive' ? true : false)
            )
            label(for="statusInActive" class="form-check-label") Dừng hoạt động
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) cập nhật