extends ../../layout/default.pug
include ../../mixin/selectDrop.pug

block main
    h1(class="mb-4") #{pageTitle}

    form(
        action=`/${prefixAdmin}/song/create`
        method="POST"
        enctype="multipart/form-data"
    )
        div(class="form-group")
            label(for="name") Tiêu đề
            input(
                type="name"
                class="form-control"
                id="name"
                name="name"
                required
            )
        +selectDrop('albumId', 'album', albums)
        +selectDrop('singerId', 'singer', singers)
        div(
            class="form-group"
            upload-image
        )
            label(for="imgs") Ảnh
            input(
                type="file"
                class="form-control-file"
                id="imgs"
                name="imgs"
                accept="image/*"
                multiple
                upload-image-input
            )
            img(
                src=""
                class="image-preview"
                upload-image-preview
            )
        div(
            class="form-group"
            upload-audio
        )
            label(for="audio") File âm thanh
            input(
                type="file"
                class="form-control-file"
                id="audio"
                name="audio"
                accept="audio/*"
                upload-audio-input
            )
            audio(controls upload-audio-play)
                source(src="")
        div(class="form-group")
            label(for="information") Mô tả
            textarea(
                type="text"
                class="form-control"
                id="information"
                name="information"
                rows="5"
                textarea-mce
            )
        div(class="form-group")
            label(for="lyric") Lời bài hát
            textarea(
                type="text"
                class="form-control"
                id="lyric"
                name="lyric"
                rows="5"
                textarea-mce
            )
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusActive"
                name="status"
                value="active"
                checked
            )
            label(for="statusActive" class="form-check-label") Hoạt động
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusInActive"
                name="status"
                value="inactive"
            )
            label(for="statusInActive" class="form-check-label") Dừng hoạt động
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Tạo mới