extends ../../layout/default.pug
include ../../mixin/selectDrop.pug

block main
    h1(class="mb-4") #{pageTitle}

    form(
        action=`/${prefixAdmin}/song/edit/${song.id}?_method=PATCH`
        method="POST"
        enctype="multipart/form-data"
    )
        div(class="form-group")
            label(for="name") Tiêu đề
            input(
                type="text"
                class="form-control"
                id="name"
                name="name"
                required
                value=song.name
            )
        +selectDropEdit('albumId', 'album', albums, albumSingerSongs.albumId)
        +selectDropEdit('singerId', 'singer', singers, albumSingerSongs.singerId)
        div(
            class="form-group"
            upload-image
        )
            label(for="imgs") Ảnh
            input(
                type="file"
                class="form-control-file"
                id="imgs"
                name="imgs"
                accept="image/*"
                multiple
                upload-image-input
            )
            img(
                src=song.imgs[0]
                class="image-preview"
                upload-image-preview
            )
        div(
            class="form-group"
            upload-audio
        )
            label(for="audio") File âm thanh
            input(
                type="file"
                class="form-control-file"
                id="audio"
                name="audio"
                accept="audio/*"
                value=song.audio
                upload-audio-input
            )
            audio(controls upload-audio-play)
                source(src=song.audio)
        div(class="form-group")
            label(for="desc") Mô tả
            textarea(
                type="text"
                class="form-control"
                id="desc"
                name="description"
                rows="5"
                value=song.desc
                textarea-mce
            ) #{song.information}
        div(class="form-group")
            label(for="lyric") Lời bài hát
            textarea(
                type="text"
                class="form-control"
                id="lyric"
                name="lyric"
                rows="5"
                textarea-mce
            ) #{song.lyric}
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusActive"
                name="status"
                value="active"
                checked=(song.status == "active" ? true : false)
            )
            label(for="statusActive" class="form-check-label") Hoạt động
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusInActive"
                name="status"
                value="inactive"
                checked=(song.status == "inactive" ? true : false)
            )
            label(for="statusInActive" class="form-check-label") Dừng hoạt động
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Cập nhật